.legu-mouseover:hover {
  color: yellow !important;
  /*font-weight: bold !important;*/
}

/* a Tag 스타일 변형 */
.legu-link {
  /*color: rgb(252, 216, 16) !important;*/
  border-bottom: 1px solid #ffffff !important;
}

.legu-link:hover {
  color: yellow !important;
  border: none !important;
}
