.legu-mouseover {
  color: yellow !important;
  /*font-weight: bold !important;*/
}

.legu-link {
  color: rgb(252, 216, 16) !important;
  border: none !important;
}

.legu-link:hover {
  border-bottom: 1px solid rgb(252, 216, 16) !important;
}
